.saatavuus,
.akku,
.muisti,
.yhteydet {
    display: flex;
    flex-direction: column;
}

.nimi {
    text-decoration: underline;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.8em;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

.yla-osa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.oikea {
    display: flex;
    flex-direction: column;
    order: 2;
    max-width: 60%;
}

.vasen {
    padding: 20px;
    order: 1;
    display: none;
}

.isokuva {
    display: block;
    object-fit: contain;
}

.ala-osa {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.ala-osa p {
    margin: 0;
    padding: 0;
}

.vasen img {
    display: block;
}

.kuvat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.kuvat figure {
    padding: 10px;
    width: 50%;
    max-width: 150px;
    margin: 0 auto;
}

.kuvat img {
    width: 100%;
    border: 1px solid gray;
    padding: 15px;
    margin: 5px;
}

@media only screen and (min-width:750px) {
    main {
        flex-direction: column;
    }
    .yla-osa {
        flex-direction: row;
    }
    .isokuva {
        display: none;
    }
    .vasen {
        display: block;
    }
    .kuvat figure {
        width: 33%;
    }
}

@media only screen and (min-width:900px) {
    .kuvat {
        width: 50%;
        margin: 0;
    }
    main {
        width: 90%;
    }
}